:root{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body{
  margin: 0;
  padding: 0;
  height: 100%;
}

.container{
  display: grid;
  height: 100%;
  grid-template: 1fr 4fr / 1fr 4fr 1fr;
  grid-template-areas:
    "nav header header"
    "nav main sidebar"
  ;
}
/* header style and layout*/
header{
  grid-area: header;
  display: grid;
  grid-template: 2fr 3fr / repeat(5,1fr);
  grid-template-areas: 
    "top-left top-left top-left top-right top-right"
    "bottom-left bottom-left bottom-left bottom-right bottom-right"
  ;
  background-color: #475569;
  color: #f1f5f9;
}

header > div{
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.header-top-left{
  grid-area: top-left;
  align-content: center;
  gap: .5rem;
}

input[type='text']{
  outline: none;
  border: thin solid gray;
  padding: .3rem .6rem;
  border-radius: .5rem;
  flex: 1;
  color: gray;
}

.header-top-right{
  grid-area: top-right;
  justify-content: end;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
}

.header-bottom-left{
  grid-area: bottom-left;
  gap: 2rem;
  padding: 1rem;
}

.header-bottom-right{
  grid-area: bottom-right;
  justify-content: end;
  gap: 2rem;
}

.header-btn{
  padding: .6rem 1.3rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: .5rem;
  outline: none;
  border: none;
  color: #475569;
  position: relative;
  border: thin solid #475569;;
  border-bottom: 4px solid #475569;
}


.header-btn:hover{
  background-color: #475569;
  color: #f1f5f9;
  border: thin solid #f1f5f9;;
  border-bottom: 4px solid #f1f5f9;
  cursor: pointer;
}


.big-profile{
  height: 7rem;
  width: auto;
}

.small-profile, .trend-card-profile {
  height: 3rem;
  width: auto;
  border-radius: 50%;
}

.up-name{
  font-size: 1.7rem;
  font-weight: 600;
}

.down-name{
  font-size: 1.2rem;
  font-weight: 500;
}
/* navigation style and layout*/
nav{
  padding: 1rem 1rem 0 1rem;
  grid-area: nav;
  display: grid;
  background-color: #cbd5e1;
}

.nav-items-wrapper{
  display: grid;
  align-content: start;
  gap: 3rem;
}

.nav-items-wrapper > div{
  display: grid;
  gap: 1rem;
}

.top > div,
.middle > div,
.bottom > div{
  display: grid;
  grid-template-columns: 35px 1fr;
  gap: .5rem;
  font-weight: 600;
  padding: .5rem 0;
}

.top > div:hover,
.middle > div:hover,
.bottom > div:hover{
  background-color: #475569;
  color: #f1f5f9;
  cursor: pointer;
  border-radius: 1rem;
}

div.nav-head{
  font-size: 2rem;
  font-weight: 600;
  align-items: center;
}

img.nav-head-icon{
  height: 2rem;
  width: auto;
}

.center-icon{
  justify-self:  center;
}
/* main style and layout */
main{
  grid-area: main;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow: auto;
  background-color: #e2e8f0;
}

.card-head{
  margin: .5rem 0;
  font-weight: 700;
  font-size: 1.2rem;
}

.card-container{
  display: grid;
  gap: 1rem;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-content: start;
}

.card{
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
  border: thin solid gray;
  height: auto;
  border-radius: 1rem;
  border-left: 15px solid #475569;
  background-color: #f1f5f9;
}

.card-icon-wrapper{
  display: flex;
  height: auto;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.card-icon{
  height: 1.5rem;
  width: auto;
}

.card-icon-wrapper > img{
  border-top: 2px solid #f1f5f9;
}

.card-icon-wrapper > img:hover{
  cursor: pointer;
  border-top: 2px solid #475569;
}

.card > h3{
  margin: .5rem 0;
  font-weight: 600;
}
/* sidebar layout and style */
.side-bar{
  grid-area: sidebar;
  padding: 1rem;
  background-color: #e2e8f0;
}

.sidebar-container{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-container > div{
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.sidebar-container > div > div{
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem;
}

.ann-card{
  border-bottom: thin solid #475569;
}

.ann-card > h5, p{
  margin: .25rem 0;
}

.ann-card h5{
  font-weight: 500;
}

.ann-card p {
  font-size: .8rem;
}

.trend-card{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.username{
  font-weight: 600;
}

.project-name{
  font-weight: 300;
  font-size: .8rem;
}

.announce-card-wrapper, 
.trending-card-wrapper{
  border: thin solid gray;
  border-radius: 1rem;
  background-color: #f1f5f9;
}


